.tab{
position: relative;
top:800px;
border: 6px solid  #D2BBA0;
border-collapse:collapse;
border-style: dotted;
width: 1170px;
height: 970px; 
margin-bottom:20px; 
left: -15px;
}
.tab2{
position: relative;
top:800px;
border: 6px solid  #D2BBA0;
border-collapse:collapse;
border-style: dotted;
width: 1170px;
height: 500px; 
margin-bottom:50px; 
left: 0px;
}
.phone1{
	position: relative;
	top:40px;
	left:70px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone2{
	position: relative;
	top:40px;
	left:120px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone3{
	position: relative;
	top:40px;
	left:170px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone4{
	position: relative;
	top:100px;
	left:70px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone5{
	position: relative;
	top:100px;
	left:120px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone6{
	position: relative;
	top:100px;
	left:170px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone7{
	position: relative;
	top:100px;
	left:250px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone8{
	position: relative;
	top:100px;
	left:300px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone11{
	position: relative;
	top:40px;
	left:70px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone22{
	position: relative;
	top:40px;
	left:120px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone33{
	position: relative;
	top:40px;
	left:170px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone44{
	position: relative;
	top:100px;
	left:70px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone55{
	position: relative;
	top:100px;
	left:120px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone66{
	position: relative;
	top:100px;
	left:170px;
	transform:scale(0.9,0.9);transition: all 1s ease-out;
}
.phone1:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone2:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone3:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone4:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone5:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone6:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone11:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone22:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone33:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone44:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone55:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone66:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone7:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}
.phone8:hover{
	transform:scale(1,1);
	box-shadow:3px 3px 12px gray;padding:3px;
}



.sidebar {
 
  height: 2800px;
  width: 200px;
  position: relative;
  z-index: 1;
  top: -630px;
  left: -180px;
  background-color: #D2BBA0;
  padding-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
.imgtop1{
	position: relative;
	left: 30px; 

}
.tit{
	position: relative;
	font-size: 40px;
	top:780px;
}
.foot{
	position: relative;
	background-color: #9F7E69;
	height: 100px;
	top:-;
	font-family: impact;
	color: white;
	text-align: center;
	font-size: 20px;
}
.col-1
{
	height: 3000px;
}